<form [formGroup]="documentForm" name="documentForm">
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentTitle">
      {{ 'document.add.title' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <input class="form-control" formControlName="documentTitle" id="documentTitle" name="documentTitle" type="text"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentNumber">
      {{ 'document.add.number' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <input class="form-control" formControlName="documentNumber" id="documentNumber" name="documentNumber"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentInitializer">
      {{ 'document.add.initiator' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <input class="form-control" formControlName="documentInitializer" id="documentInitializer"
             name="documentInitializer"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentType">
      {{ 'document.add.type.name' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <select class="form-control" formControlName="documentType" id="documentType" name="documentType">
        <option *ngFor="let type of documentTypeKeys()" [value]="type">
          {{ 'document.add.type.' + type | translate }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="dateOfDevelopment">
      {{ 'document.add.release' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <input [bsConfig]="{ isAnimated: true, adaptivePosition: true, containerClass: 'theme-default' }"
             bsDatepicker
             class="form-control"
             formControlName="dateOfDevelopment"
             id="dateOfDevelopment"
             name="dateOfDevelopment"
             type="text">
      <div class="input-group-prepend input-icon">
          <span class="input-group-text">
            <i class="ni ni-calendar-grid-58"></i>
          </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="dateOfReceipt">
      {{ 'document.add.receiving' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative">
      <input [bsConfig]="{ isAnimated: true, adaptivePosition: true, containerClass: 'theme-default' }"
             bsDatepicker
             class="form-control"
             formControlName="dateOfReceipt"
             id="dateOfReceipt"
             name="dateOfReceipt"
             type="text">
      <div class="input-group-prepend input-icon">
          <span class="input-group-text">
            <i class="ni ni-calendar-grid-58"></i>
          </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label">{{ 'document.add.file' | translate }}</label>
    <div class="col-md-10 custom-file">
      <ec-file-uploader [url]="url"></ec-file-uploader>
    </div>
  </div>
  <div class="row justify-content-end">
    <button (click)="onSave()" class="btn btn-success mt-4" type="button">
      {{ 'button.save' | translate }}
    </button>
  </div>
</form>
