@import 'variables';
@import 'mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 10px;
  justify-content: space-between;
}

.row {
  @include flex-row();
}

.column {
  @include flex-column;
  flex: 1;
  margin: 1%;
}

.button-disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.save-button {
  background-color: $legal-consult-green;
  text-transform: uppercase;
  border-radius: 1px;
  color: white;
  font-weight: bold;
  margin: 0 5px;
}

.buttons-wrapper {
  justify-content: flex-end;
  margin-right: 1%;
}

.file-uploader-label {
  margin-bottom: $legal-consult-margin-md;
}
