<ng-template [ngIf]="documentNodes.length > 0">
  <div *ngFor="let documentNode of documentNodes">

    <div [ngSwitch]="documentNode.documentNodeType">
      <div *ngSwitchCase="documentNodeTypeEnum.CHAPTER">
        <div [id]="documentNode.id" class="chapter">
          <b>
            {{'document.view.section.type.chapter' | translate |uppercase }}
            {{documentNode.identifier + ': ' + documentNode.title}}
          </b>
          <p>{{documentNode.content}}</p>
        </div>
        <app-document-content [documentNodes]="documentNode.children"></app-document-content>
      </div>
      <div *ngSwitchCase="documentNodeTypeEnum.SECTION">
        <div [id]="documentNode.id">
          <b>
            {{'document.view.section.type.section' | translate |uppercase }}
            {{documentNode.identifier + ': ' + documentNode.title}}
          </b>
          <p>{{documentNode.content}}</p>
        </div>
        <app-document-content [documentNodes]="documentNode.children"></app-document-content>
      </div>
      <div *ngSwitchCase="documentNodeTypeEnum.ARTICLE" class="article">
        <div [id]="documentNode.id">
          <b>
            {{'document.view.section.type.article' | translate}}
            {{documentNode.identifier}}
          </b>
          <p class="article">{{documentNode.content}}</p>
        </div>
        <app-document-content [documentNodes]="documentNode.children"></app-document-content>
      </div>
      <div *ngSwitchCase="documentNodeTypeEnum.PARAGRAPH">
        <p class="paragraph">{{'(' + documentNode.identifier + ')' + documentNode.content}}</p>
        <app-document-content [documentNodes]="documentNode.children"></app-document-content>
      </div>
      <div *ngSwitchCase="documentNodeTypeEnum.ALIGNMENT">
        <p class="alignment">{{documentNode.identifier + ')' + documentNode.content}}</p>
      </div>
    </div>

  </div>
</ng-template>

