<ng-template [ngIf]="documentNodes.length > 0">
  <div *ngFor="let documentNode of documentNodes">
    <div [ngSwitch]="documentNode.documentNodeType">
      <ec-document-node-chapter (nodeEditButtonClick)="nodeEditButtonClick.emit($event)"
                                *ngSwitchCase="documentNodeTypeEnum.CHAPTER"
                                [chapter]="documentNode"
                                [isEditMode]="isEditMode"></ec-document-node-chapter>
      <ec-document-node-section (nodeEditButtonClick)="nodeEditButtonClick.emit($event)"
                                *ngSwitchCase=" documentNodeTypeEnum.SECTION"
                                [isEditMode]="isEditMode"
                                [section]="documentNode"></ec-document-node-section>
      <ec-document-node-article (nodeEditButtonClick)="nodeEditButtonClick.emit($event)"
                                *ngSwitchCase=" documentNodeTypeEnum.ARTICLE"
                                [article]="documentNode"
                                [isEditMode]="isEditMode"></ec-document-node-article>
      <ec-document-node-paragraph (nodeEditButtonClick)="nodeEditButtonClick.emit($event)"
                                  *ngSwitchCase="documentNodeTypeEnum.PARAGRAPH"
                                  [isEditMode]="isEditMode"
                                  [paragraph]="documentNode"></ec-document-node-paragraph>
      <ec-document-node-alignment (nodeEditButtonClick)="nodeEditButtonClick.emit($event)"
                                  *ngSwitchCase="documentNodeTypeEnum.ALIGNMENT"
                                  [alignment]="documentNode"
                                  [isEditMode]="isEditMode"></ec-document-node-alignment>
    </div>
  </div>
</ng-template>

