.paragraph, .alignment, .article p {
  margin: 0;
  padding: 0;
}

.article {
  padding-bottom: 15px;
  width: 60vw;
}

.chapter {
  padding-bottom: 10px;
  padding-top: 10px;

  b {
    font-size: 15px;
  }
}

.comment-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.blue-link {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
}

.comments-mode {
  background: #eeeeee;
}
