<div [class.bg-lighter]="isExpanded" [class.p-2]="isExpanded">
  <div [id]="article.id">
    <strong>
      {{'document.view.section.type.article' | translate}}
      {{article.identifier}}
    </strong>
    <p>{{article.content}}</p>
  </div>
  <ec-document-content [documentNodes]="article.children"></ec-document-content>
  <div class="row justify-content-between mx-0 mt-2 mb-5">
    <div>
      <span (click)="expandComments()" class="comment-link">{{'button.add-comment' | translate}}</span>
    </div>
    <div>
      <span (click)="expandComments()" *ngIf="article.numberOfComments != 1" class="comment-link">
        {{article.numberOfComments}} {{'comments.number.plural' | translate}}
      </span>
      <span (click)="expandComments()" *ngIf="article.numberOfComments == 1" class="comment-link">
        {{article.numberOfComments}} {{'comments.number.singular' | translate}}
      </span>
    </div>
  </div>
  <ec-comments (commentsCollapsed)="collapseComments()" *ngIf=isExpanded [nodeId]="article.id">
  </ec-comments>
</div>
