@import 'variables';

.save-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 27px;
  margin-top: 50px;
}

.save-btn {
  background-color: $legal-consult-green;
  color: white;
  padding: 7px 50px;
  text-transform: uppercase;
  cursor: pointer;
}
