<div>
  <div>
    <app-document-header [document]="(documentMetadata$ | async)"></app-document-header>
  </div>
  <div>
    <app-document-users-table (userAssigned)="onUserAssigned($event)"
                              (userUnassigned)="onUserUnassigned($event)"
                              [assignedUsers]="assignedUsers"
                              [availableUsers]="availableUsers$ | async"
                              [pageData]="pageData$ | async">
    </app-document-users-table>
    <div (click)="save()" class="save-btn-wrapper">
      <div class="save-btn">{{ "document.users.save" | translate }}</div>
    </div>
  </div>
</div>
