<section class="add-users-page">
  <h1>{{"users.add.title" | translate}}</h1>
  <span class="header">
    {{"users.add.subTitle" | translate}}
    <u (click)="redirectToAddSingleUser()" class="cursor-pointer">{{"users.add.subTitle.single" | translate}}</u>
  </span>

  <mat-radio-group class="column">
    <mat-radio-button class="radio-button" value="1">{{"users.add.fromCsv" | translate}}</mat-radio-button>
    <mat-radio-button class="radio-button" value="2">{{"users.add.fromExcel" | translate}}</mat-radio-button>
  </mat-radio-group>
  <div class="button-wrapper">
    <button class="confirm-button" mat-flat-button
            (click)="redirectToImport()">{{"button.confirm" | translate}}</button>
  </div>
</section>
