@import '../../node_modules/normalize.scss/normalize';
@import "variables";

html, body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.disabled-bg {
  background-color: $lc-disabled-bg !important;
  opacity: 1;
}
