@import '~@angular/material/theming';

$mat-concrete: #F2F2F2;

$mat-congress-blue: (
  50 : #E0E9F2,
  100 : #B3C8DE,
  200 : #80A4C8,
  300 : #4D7FB1,
  400 : #2663A1,
  500 : #004890,
  600 : #004188,
  700 : #00387D,
  800 : #003073,
  900 : #002161,
  A100 : #91ACFF,
  A200 : #5E86FF,
  A300 : #4285f4,
  A400 : #2B60FF,
  A700 : #124CFF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #FFFFFF,
    A700 : #FFFFFF,
  )
);
$mat-white: (
  50 : #FFFFFF,
  100 : #FFFFFF,
  200 : #FFFFFF,
  300 : #FFFFFF,
  400 : #FFFFFF,
  500 : #FFFFFF,
  600 : #FFFFFF,
  700 : #FFFFFF,
  800 : #FFFFFF,
  900 : #FFFFFF,
  A100 : #FFFFFF,
  A200 : #FFFFFF,
  A400 : #FFFFFF,
  A700 : #FFFFFF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$spaces: (
  'xs': 2px,
  'sm': 4px,
  'md': 8px,
  'lg': 16px,
  'xl': 32px
);

// legal-consult theme variables
$legal-consult-padding-xs: map-get($spaces, 'xs');
$legal-consult-padding-sm: map-get($spaces, 'sm');
$legal-consult-padding-md: map-get($spaces, 'md');
$legal-consult-padding-lg: map-get($spaces, 'lg');
$legal-consult-padding-xl: map-get($spaces, 'xl');

$legal-consult-margin-xs: map-get($spaces, 'xs');
$legal-consult-margin-sm: map-get($spaces, 'sm');
$legal-consult-margin-md: map-get($spaces, 'md');
$legal-consult-margin-lg: map-get($spaces, 'lg');
$legal-consult-margin-xl: map-get($spaces, 'xl');

$legal-consult-header-height: 120px;
$legal-consult-header-logo-size: 96px;
$legal-consult-header-user-icon-size: 56px;

$legal-consult-sidenav-width: 80px;

$legal-consult-table-margin: $legal-consult-margin-lg;
$legal-consult-table-padding: $legal-consult-padding-md;
$legal-consult-table-accent: $mat-concrete;

$legal-consult-green: green;
$legal-consult-grey: #adadad;
$legal-consult-grey-background: #7896be;

$legal-consult-green: green;
$legal-consult-grey: #adadad;

$lc-login-top-gradient-start: #11CDEF;
$lc-login-top-gradient-end: #1171EF;
$lc-header-height: 87px;

$lc-blue: #0000FF;
$lc-teal: #6FE0D7;
$lc-disabled-bg: #e9ecef;
