<section class="page-view" id="users-page">
  <app-users-header></app-users-header>
  <div *ngIf="(usersLoaded$ | async) === false">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <app-users-table *ngIf="usersLoaded$ | async"
                   (filterChange)="onFilterChange($event)"
                   [filter]="filter$ | async"
                   [loading]="usersLoaded$ | async"
                   [pageData]="usersPageData$ | async"
                   [users]="users$ | async"></app-users-table>
</section>
