<section class="page-view" id="users-page">
  <app-users-header (activeViewChanged)="toggleActiveView($event)"
                    (addButtonClicked)="onButtonClicked()">
  </app-users-header>
  <div *ngIf="(usersLoaded$ | async) === false">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <app-users-view *ngIf="usersLoaded$ | async"
                  [activeView]="activeView"
                  [loading]="usersLoaded$ | async"
                  [pageData]="usersPageData$ | async"
                  [users]="users$ | async"></app-users-view>
</section>
