@import 'variables';
@import 'mixins.scss';

.column {
  @include flex-column();
  justify-content: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    text-transform: uppercase;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    margin: 0 5px;
  }

  .button-disabled {
    opacity: 0.5;
    cursor: no-drop;
  }

  .save-button {
    background-color: $legal-consult-green;
  }

  .cancel-button {
    background-color: $legal-consult-grey;
  }
}
