<mat-card>
  <mat-card-title>
    {{"users.form.title" | translate}}
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" class="column" name="userForm">
      <mat-form-field>
        <input formControlName="lastName" matInput placeholder="{{'users.table.column.lastName' | translate}}" required>
        <mat-error
          *ngIf="userForm.controls.lastName.invalid">{{generateErrorMessage('lastName') | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="{{'users.table.column.firstName' | translate}}"
               required>
        <mat-error
          *ngIf="userForm.controls.firstName.invalid">{{generateErrorMessage('firstName') | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="{{'users.table.column.email' | translate}}" required>
        <mat-error *ngIf="userForm.controls.email.invalid">{{generateErrorMessage('email') | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="phoneNumber" matInput placeholder="{{'users.table.column.phoneNumber' | translate}}"
               required>
        <mat-error
          *ngIf="userForm.controls.phoneNumber.invalid">{{generateErrorMessage('phoneNumber') | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="district" matInput placeholder="{{'users.table.column.district' | translate}}" required>
        <mat-error
          *ngIf="userForm.controls.district.invalid">{{generateErrorMessage('district') | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="organisation" matInput placeholder="{{'users.table.column.organisation' | translate}}"
               required>
        <mat-error
          *ngIf="userForm.controls.organisation.invalid">{{generateErrorMessage('organisation') | translate}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="buttons-wrapper">
      <button (click)="onCancel()" class="cancel-button" mat-flat-button>{{"button.cancel" | translate}}</button>
      <button (click)="onSave()" [class.button-disabled]="userForm.invalid" [disabled]="userForm.invalid"
              class="save-button"
              mat-flat-button>{{"button.save" | translate}}</button>
    </div>
  </mat-card-actions>
</mat-card>
