@import 'variables';

.green-button {
  margin-top: 30px;
  background-color: $legal-consult-green;
  border-radius: 1px;
  color: map-get($mat-white, 50);
}

.comment-textarea {
  width: 56vw;
  height: 125px;
}

.flex-comment {
  display: flex;
  flex-direction: column;
}

.add-comment {
  display: flex;
  justify-content: flex-end;
}
