<div class="main-content">
  <div class="header bg-gradient-auth-top py-7">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">{{'login.welcome' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg preserveAspectRatio="none"
           version="1.1"
           viewBox="0 0 2560 100" x="0"
           xmlns="http://www.w3.org/2000/svg"
           y="0">
        <polygon class="fill-default" points="3560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-muted text-center mt-2 mb-3">
              <small>{{'login.enterAccount' | translate}}</small>
            </div>
            <ng-container *ngIf="i18nError">
              <div class="alert alert-danger">
                {{i18nError | translate}}
              </div>
            </ng-container>
            <ng-container *ngIf="generalErrors">
              <div class="alert alert-danger">
                <div *ngFor="let error of generalErrors">
                  {{error.i18nErrorKey | translate : error.i18nErrorArguments}}
                </div>
              </div>
            </ng-container>
            <form [formGroup]="logInForm" [ngClass]="wasValidated ? 'wasValidated':''" novalidate>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input [ngClass]="isValidClass(logInForm.controls.usernameOrEmail)"
                         class="form-control"
                         formControlName="usernameOrEmail"
                         name="usernameOrEmail" placeholder="{{'login.placeholder.email' | translate}}" required>
                  <ng-container *ngIf="hasErrors(logInForm.controls.usernameOrEmail)">
                    <div *ngFor="let error of logInForm.controls.usernameOrEmail.errors | keyvalue"
                         class="invalid-feedback">
                      {{error.key | translate}}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input [ngClass]="isValidClass(logInForm.controls.password)"
                         class="form-control"
                         formControlName="password" maxlength="100"
                         name="password"
                         placeholder="{{'login.placeholder.password' | translate}}" required
                         type="password">
                  <ng-container *ngIf="hasErrors(logInForm.controls.password)">
                    <div *ngFor="let error of logInForm.controls.password.errors | keyvalue"
                         class="invalid-feedback">
                      {{error.key | translate}}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="text-center">
                <button (click)="onSubmit()" class="btn btn-success my-4"
                        type="button">{{'login.doLogin' | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <small class="text-light">{{'login.forgotPassword' | translate}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
