<div class="card">
  <div class="card-body">
    <ec-document-view (assignUsers)="onAssignUsers($event)"
                      (assignedUsersModalOpen)="loadUsers()"
                      (documentNodeUpdate)="onDocumentNodeUpdate($event)"
                      (usersPageChange)="onUsersPageChange($event)"
                      (usersSearchTermChange)="onUsersSearchTermChange($event)"
                      [availableUsers]="availableUsers$ | async"
                      [document]="document$ | async"
                      [usersPageData]="usersPageData$ | async">
    </ec-document-view>
  </div>
</div>
