<div class="py-3 bg-default">
  <div class="container">
    <div class="row align-items-center">
      <div class="col justify-content-xl-end">
        <div class="justify-content-xl-end justify-content-sm-start mb-3 row mx-0">
          <img src="assets/img/code4ro_logo.png">
        </div>
        <div class="copyright text-xl-left text-muted justify-content-xl-end justify-content-sm-start mb-2 row mx-0">
          &copy; {{2020}} Code for Romania
        </div>
        <div class="copyright text-xl-left text-muted justify-content-xl-end justify-content-sm-start mb-2 row mx-0">
          Organizație neguvernamentală independentă, neafiliată politic și apolitică
        </div>
      </div>
    </div>
  </div>
</div>
