@import 'variables';
@import 'mixins';

.text-input-component {
  @include flex-column();
  display: inline-flex;
  margin-top: 20%;

  button {
    @include flat-button();
    background-color: $legal-consult-green;
  }
}


