<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white sidenav-margin"
     id="sidenav-main">
  <div class="scroll-wrapper scrollbar-inner">
    <div class="scrollbar-inner scroll-content scroll-scrollx_visible">
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" routerLink="/">
          <img alt="..." class="navbar-brand-img" src="assets/img/logo.png">
        </a>
        <div class="ml-auto">
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="/dashboard">
                <i class="ni ni-shop"></i>
                <span class="nav-link-text">{{'sideNav.dashboard' | translate}}</span>
              </a>
            </li>
            <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="/documents/add">
                <i class="ni ni-fat-add"></i>
                <span class="nav-link-text">{{'sideNav.addDocument' | translate}}</span>
              </a>
            </li>
            <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="/documents">
                <i class="ni ni-single-copy-04 "></i>
                <span class="nav-link-text">{{'sideNav.documentArchive' | translate}}</span>
              </a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" routerLink="/users">
                <i class="ni ni-circle-08 "></i>
                <span class="nav-link-text">{{'sideNav.userManagement' | translate}}</span>
              </a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" href="#">
                <i class="ni ni-books "></i>
                <span class="nav-link-text">{{'sideNav.dictionary' | translate}}</span>
              </a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
              <a class="nav-link" href="#">
                <i class="ni ni-settings-gear-65 "></i>
                <span class="nav-link-text">{{'sideNav.settings' | translate}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="scroll-element scroll-x">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="width: 0px; left: 0px;"></div>
      </div>
    </div>
    <div class="scroll-element scroll-y scroll-scrollx_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="height: 0px; top: 0px;"></div>
      </div>
    </div>
  </div>
</nav>
