<div id="left-menu">
  <div class="left-menu-column" fxLayout="column" fxLayoutAlign="center center">
    <button (click)="home()" mat-button>
      <mat-icon>home</mat-icon>
    </button>
    <button (click)="dictionaries()" mat-button>
      <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <button (click)="settings()" mat-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button (click)="qa()" mat-button>
      <mat-icon>question_answer</mat-icon>
    </button>
  </div>
</div>

