@import "variables";

.table-sort-wrapper {
  font-size: 17px;
  font-weight: 700;
  opacity: 0.5;
}

.items-count {
  margin-right: $legal-consult-margin-xl;
}

.sort-field-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 $legal-consult-margin-md;
  cursor: pointer;

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.sort-active {
  color: map-get($mat-congress-blue, 700);

  .sort-field-name {
    text-decoration: underline;
  }
}
