<div class="table-sort-wrapper">
  <span class="items-count"><span>&#8226;</span> {{totalCount}} {{tableContentType | translate}}</span>
  <span><span>&#8226;</span> {{'table.sort.title' | translate}}
    <span *ngFor="let sortField of sortFields" [ngClass]="isSortActive(sortField) ? 'sort-active' : ''"
          class="sort-field-wrapper">
      <span (click)="onSortFieldChange(sortField)" class="sort-field-name">
        {{sortField | translate}}
      </span>
      <span (click)="onSortDirectionChange(sortField)">
        <mat-icon *ngIf="isAscSort(sortField)">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="!isAscSort(sortField)">arrow_drop_up</mat-icon>
      </span>
      <span>
        |
      </span>
    </span>
  </span>
</div>
