<table class="table align-items-center table-flush">
  <thead class="thead-light">
  <tr>
    <th scope="col"></th>
    <th scope="col">{{'documents.table.column.name' | translate}}</th>
    <th scope="col">{{'documents.table.column.date' | translate}}</th>
    <th scope="col">{{'documents.table.column.type' | translate}}</th>
    <th scope="col">{{'documents.table.column.initiator' | translate}}</th>
  </tr>
  </thead>
  <tbody class="list">
  <tr *ngFor="let document of documents">
    <td><i class="fa fa-angle-right"></i></td>
    <td (click)="onRowClick(document.id)">{{ document.documentTitle }}</td>
    <td (click)="onRowClick(document.id)">{{ document.dateOfDevelopment | date }}</td>
    <td (click)="onRowClick(document.id)">{{ document.documentType }}</td>
    <td (click)="onRowClick(document.id)">{{ document.documentInitializer }}</td>
  </tr>
  </tbody>
</table>
