@import 'variables';

.table-wrapper {
  box-sizing: border-box;
  margin: $legal-consult-table-margin;
  height: calc(100% - #{2 * $legal-consult-table-margin});
  width: calc(100% - #{2 * $legal-consult-table-margin});
  min-height: calc(100% - #{2 * $legal-consult-table-margin});
  min-width: calc(100% - #{2 * $legal-consult-table-margin});

  display: flex;
  flex-direction: column;

  .table-header,
  .table-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;

    padding: 0 $legal-consult-table-padding;

    mat-form-field {
      flex-grow: 1;
      height: 60px;
    }
  }

  .table-header,
  .table-footer,
  .mat-paginator {
    background-color: $legal-consult-table-accent;
  }

  .mat-table {
    overflow-y: auto;
    flex: 1 1 auto;

    .mat-header-row {
      position: sticky;
      top: 0;
      background: white;
    }
  }

  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 46%;
  }

  mat-cell:nth-child(2),
  mat-header-cell:nth-child(2) {
    flex: 0 0 7%;
  }

  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 7%;
  }

  mat-cell:nth-child(4),
  mat-header-cell:nth-child(4) {
    flex: 0 0 20%;
  }

  mat-cell:nth-child(5),
  mat-header-cell:nth-child(5) {
    flex: 0 0 15%;
  }
}

.document-item-arrow {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: $legal-consult-grey;
  margin-right: 8px;
  cursor: pointer;
}

.document-item-status {
  background-color: $legal-consult-green;
  color: map-get($mat-white, 50);
  padding: 5px;
  width: 50%;
  text-align: center;
}
