<div class="users-header">
  <div class="row">
    <div class="column search-term-wrapper">
      <input class="search-term mat-elevation-z2" placeholder="{{'search.label' | translate}}" type="text">
    </div>
    <div class="column">
      <div class="row view-switcher">
        <div [class.active]="isCardViewActive()" class="column mat-elevation-z2" (click)="activateView('card')">
          <mat-icon>dashboard</mat-icon>
        </div>
        <div [class.active]="isListViewActive()" class="column mat-elevation-z2" (click)="activateView('list')">
          <mat-icon>dehaze</mat-icon>
        </div>
      </div>
    </div>
    <div class="column add-button-wrapper">
      <button class="add-button" mat-flat-button (click)="onAddButtonClick()">
        <mat-icon>add_circle</mat-icon>
        {{"users.header.button.add" | translate}}
      </button>
    </div>
  </div>
</div>
