@import 'mixins.scss';
@import "variables.scss";

.users-header {
  margin: $legal-consult-table-margin;

  @include flex-column();

  .column {
    @include flex-column();

    button {
      flex-grow: 1;
    }
  }

  .row {
    @include flex-row();
    justify-content: flex-end;
  }

  .add-button-wrapper {
    .add-button {
      background-color: green;
      border-radius: 1px;
      color: map-get($mat-white, 50);
      padding: 0 50px;
    }
  }

  .search-term-wrapper {
    width: 400px;

    .search-term {
      border: none;
      padding: 15px 20px;
    }
  }

  .view-switcher {
    flex-grow: 1;

    :first-child {
      margin-left: 20px;
    }

    :last-child {
      margin-right: 20px;
    }

    div {
      justify-content: center;
      cursor: pointer;
    }

    .active {
      background-color: map-get($mat-congress-blue, 700);;
      color: map-get($mat-white, 50);
    }
  }
}
