@import 'variables';

.document-header-arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  color: $legal-consult-grey;
  margin-right: 8px;
}

.document-header-title {
  display: flex;
  align-items: center;
  padding: 23px 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
}

.document-header-metadata-row-label {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  margin: 5px 0;
  font-weight: 600;
}

.document-header-metadata-row-value {
  margin: 5px 0;
  font-size: 12px;
  line-height: 18px;
}

.metadata-wrapper {
  display: flex;
  flex-grow: 1;
}

.metadata-label-wrapper {
  margin-right: 25px;
}

.document-header-wrapper {
  display: flex;
  align-items: center;
}

.document-view-wrapper {
  justify-content: right;
}

.document-view-btn {
  color: white;
  background-color: $legal-consult-green;
  padding: 5px 45px;
  cursor: pointer;
}
