<div>
  <div class="document-header-title">
    <mat-icon class="document-header-arrow">play_arrow</mat-icon>
    {{document.documentTitle}}
  </div>
  <hr>
  <div class="document-header-wrapper">
    <div class="metadata-wrapper">
      <div class="metadata-label-wrapper">
        <div class="document-header-metadata-row-label">{{'document.metadata.initiator' | translate}}</div>
        <div class="document-header-metadata-row-label">{{'document.metadata.dateOfDevelopment' | translate}}</div>
        <div class="document-header-metadata-row-label">{{'document.metadata.type' | translate}}</div>
        <div class="document-header-metadata-row-label">{{'document.metadata.status' | translate}}</div>
      </div>
      <div class="metadata-value-wrapper">
        <div class="document-header-metadata-row-value">{{document.documentInitializer}}</div>
        <div class="document-header-metadata-row-value">{{document.dateOfDevelopment | date}}</div>
        <div class="document-header-metadata-row-value">{{document.documentType}}</div>
        <div class="document-header-metadata-row-value">TEST</div>
      </div>
    </div>
    <div class="document-view-wrapper">
      <div class="document-view-btn">
        {{'document.users.view' | translate}}
      </div>
    </div>
  </div>
</div>
