<div class="app-header">
  <nav class="navbar navbar-top navbar-expand navbar-dark border-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between row mr-0" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item d-xl-none">
            <div class="pr-3 sidenav-toggler" data-action="sidenav-pin"
                 data-target="#sidenav-main">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown">
            <div class="media align-items-center">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link pr-0" data-toggle="dropdown"
                 href="#" role="button">
                <div class="media-body ml-2 d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold text-black-50">John Snow</span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right ">
                <a (click)="logout()" class="dropdown-item pointer">
                  <i class="ni ni-user-run"></i>
                  <span>{{'topNav.logout' | translate}}</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
