<mat-card class="user-card">
  <mat-card-title>
    <span>{{ user.firstName }} {{ user.lastName }}</span>
  </mat-card-title>
  <div
    class="card-body"
    fxLayout="row"
    fxLayoutAlign="flex-start space-around"
    fxLayoutGap="1%"
  >
    <mat-card-content
      fxFlex="75%"
      fxLayout="column"
      fxLayoutAlign="center flex-start"
      fxLayoutGap="5px"
    >
      <div
        class="user-card__section"
        fxLayout="row"
        fxLayoutAlign="flex-start center"
      >
        <mat-icon>email</mat-icon>
        <span>{{ user.email }}</span>
      </div>
      <div
        class="user-card__section"
        fxLayout="row"
        fxLayoutAlign="flex-start center"
      >
        <mat-icon>stay_primary_portrait</mat-icon>
        <span>{{ user.phoneNumber }}</span>
      </div>
      <div
        class="user-card-section"
        fxLayout="row"
        fxLayoutAlign="flex-start center"
      >
        <span>{{ user.organisation }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions
      fxLayout="row"
      fxLayoutAlign="flex-end flex-end"
      fxFlex="25%"
    >
      <button class="view-profile-button" mat-flat-button color="primary">
        {{ 'users.card.viewProfile' | translate }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
