<table class="table align-items-center table-flush">
  <thead class="thead-light">
  <tr>
    <th scope="col">{{'document.users.table.firstName' | translate}}</th>
    <th scope="col">{{'document.users.table.lastName' | translate}}</th>
    <th scope="col">{{'document.users.table.organisation' | translate}}</th>
    <th scope="col">{{'document.users.table.add' | translate}}</th>
  </tr>
  </thead>
  <tbody class="list">
  <tr *ngFor="let user of availableUsers">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.organisation }}</td>
    <td>
      <label class="custom-toggle custom-toggle-success">
        <input (change)="onToggleUser($event.target.checked, user)" [checked]="isAssigned(user.id)" type="checkbox"/>
        <span class="custom-toggle-slider rounded-circle" data-label-off="Nu" data-label-on="Da"></span>
      </label>
    </td>
  </tr>
  </tbody>
</table>
