<div [ngSwitch]="activeView" class="users-view-wrapper">
  <div *ngSwitchCase="'list'" class="card">
    <div class="card-header">
      <h5 class="h3 mb-0">{{'users.table.title' | translate}}</h5>
    </div>
    <div class="table-responsive">
      <ec-users-table [loading]="loading"
                      [pageData]="pageData"
                      [users]="users"></ec-users-table>
    </div>
    <div class="card-footer">
      <ec-pagination [pageData]="pageData"></ec-pagination>
    </div>
  </div>
  <ec-users-cards *ngSwitchCase="'card'"
                  [loading]="loading"
                  [pageData]="pageData"
                  [users]="users"></ec-users-cards>
</div>
