<div [ngSwitch]="activeView" class="users-view-wrapper">
  <div *ngSwitchCase="'list'" class="card">
    <div class="card-header">
      <h5 class="h3 mb-0">{{'users.table.title' | translate}}</h5>
    </div>
    <div class="table-responsive">
      <app-users-table [loading]="loading"
                       [pageData]="pageData"
                       [users]="users"></app-users-table>
    </div>
    <div class="card-footer">
      <app-pagination [pageData]="pageData"></app-pagination>
    </div>
  </div>
  <app-users-cards *ngSwitchCase="'card'"
                   [loading]="loading"
                   [pageData]="pageData"
                   [users]="users"></app-users-cards>
</div>
