<div [ngSwitch]="activeView" class="users-view-wrapper">
  <app-users-table (filterChange)="onFilterChange($event)"
                   *ngSwitchCase="'list'"
                   [filter]="filter"
                   [loading]="loading"
                   [pageData]="pageData"
                   [users]="users">
  </app-users-table>
  <app-users-cards *ngSwitchCase="'card'"
                   [filter]="filter"
                   [loading]="loading"
                   [pageData]="pageData"
                   [users]="users">
  </app-users-cards>
</div>
