@import 'variables';

.add-button-wrapper {
  width: 200px;
  height: 50px;
  display: flex;

  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $legal-consult-green;
    border-radius: 1px;
    color: map-get($mat-white, 50);
    padding: 0 50px;
    height: 100%;
  }
}
