<div id="top-bar">
  <div class="toolbar-row" fxLayout="row" fxLayoutAlign="space-between center">
    <div [matMenuTriggerFor]="profileMenu" class="has-action" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon color="primary">account_circle</mat-icon>
      <div fxLayout="column" fxLayoutAlign="center start">
        <span class="mat-small name">Adrian Popescu</span>
        <span class="mat-small organisation">OAR Bucuresti</span>
      </div>

      <mat-menu #profileMenu="matMenu">
        <button (click)="profile()" mat-menu-item>{{ 'header.profile' | translate }}</button>
        <button (click)="logout()" mat-menu-item>{{ 'header.logout' | translate}}</button>
      </mat-menu>
    </div>

    <mat-toolbar fxLayout="row" fxLayoutAlign="end stretch">
      <button (click)="about()" mat-button routerLinkActive="active">{{ 'header.about' | translate }}</button>
      <button (click)="consultation()" mat-button routerLinkActive="active">{{ 'header.consultation' | translate }}</button>
      <button (click)="archive()" mat-button routerLinkActive="active">{{ 'header.archive' | translate }}</button>
      <button (click)="members()" mat-button routerLinkActive="active">{{ 'header.members' | translate }}</button>
      <button (click)="login()" mat-button routerLinkActive="active">{{ 'header.login' | translate }}</button>
      <button [matMenuTriggerFor]="selectLanguage" mat-button>
        <span [ngClass]="getFlagClasses()" class="flag-icon flag-icon-squared"></span>
      </button>
      <mat-menu #selectLanguage="matMenu">
        <button (click)="changeLanguage('ro')" mat-menu-item>
          <span class="flag-icon flag-icon-squared flag-icon-ro"></span>
        </button>
        <button (click)="changeLanguage('en')" mat-menu-item>
          <span class="flag-icon flag-icon-squared flag-icon-gb"></span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
</div>
