@import '~@angular/material/theming';
@import 'variables.scss';

div#top-bar {
  height: $legal-consult-header-height;
  padding-right: $legal-consult-padding-xl;

  img.logo {
    height: $legal-consult-header-logo-size;
    width: auto;
    padding: 0 $legal-consult-padding-lg;
  }
  .toolbar-row {
    mat-icon {
      height: $legal-consult-header-user-icon-size;
      width: $legal-consult-header-user-icon-size;
      font-size: $legal-consult-header-user-icon-size;
      margin: $legal-consult-margin-md;
      cursor: pointer;
    }

    span {
      width: max-content;
      font-weight: bold;
    }
    span.name {
      color: map-get($mat-congress-blue, 700);
    }

    mat-toolbar {
      height: 100%;

      button {
        border-radius: 0;
        height: 100%;

        .flag-icon {
          width: 100%;
        }
      }

      mat-menu {
        button {
          width: 100%;
        }
      }

      button.mat-button:hover,
      button.mat-button.active {
      }
    }
  }
  .search-row {
    .empty {
      flex-grow: 1;
    }
    mat-form-field {
      flex-grow: 1;
      height: 60px;
    }
  }
}
