<div *ngIf="document">
  <h5 class="h2 mb-3">{{documentMetadata.documentTitle}}</h5>
  <div class="card">
    <div class="card-header">
      {{'document.details.header' | translate}}
    </div>
    <div class="card-body">
      <app-document-metadata [metadata]="documentMetadata"></app-document-metadata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <app-document-menu [documentNodes]="documentNode.children"></app-document-menu>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>{{documentNode.title}}</h2>
          <p>{{documentNode.content}}</p>
          <app-document-content [documentNodes]="documentNode.children"
                                [addCommentModeForNode]="addCommentModeForNode"
                                (toggleCommentAdding)="clickedAddComment($event)"></app-document-content>
        </div>
      </div>
    </div>
  </div>
</div>
