@import 'mixins.scss';
@import "variables.scss";

.row {
  @include flex-row();
}

.column {
  @include flex-column();
}

.document-view-container {
  font-size: 13px;
}

.document-view-menu, .document-empty-region {
  width: 15%;
  margin-right: 30px;
}

.document-view-content, {
  padding-right: 100px;
  width: 85%;
}

.document-header-content {
  padding-right: 50px;
  width: 85%;
}

.document-view-content {
  padding-top: 80px;
  padding-bottom: 100px;
}

.document-items {
  padding-top: 20px;
  white-space: nowrap;

  .row {
    padding-top: 10px;

    .column:first-child {
      min-width: 150px;
      padding-right: 10px;
      font-weight: 600;
    }
  }
}

.document-title {
  width: 100%;
  font-size: 25px;
  padding-bottom: 40px;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.document-title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 95%;
  border-bottom: 1px solid;
}

.document-item-status {
  background-color: $legal-consult-green;
  color: map-get($mat-white, 50);
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.download-button-wrapper {
  width: 100%;
  justify-content: center;
  padding-top: 20px;

  button {
    margin-right: 0;
    margin-left: auto;
    width: 200px;
    background-color: $legal-consult-green;
    border-radius: 1px;
    color: map-get($mat-white, 50);
  }
}

.search-content-wrapper {
  width: 100%;

  .search-content {
    margin-right: 0;
    margin-left: auto;
    width: 500px;
    border: none;
    padding: 15px 20px;
  }
}

.document-view-menu {
  background-color: $legal-consult-grey;
  margin-top: 30px;
  padding-top: 15px;
}
