<div *ngIf="document">
  <h5 class="h2 mb-3">{{documentMetadata.documentTitle}}</h5>
  <div class="card">
    <div class="card-header">
      {{'document.details.header' | translate}}
    </div>
    <div class="card-body">
      <ec-document-metadata [assignedUsers]="document.assignedUsers"
                            [metadata]="documentMetadata">
      </ec-document-metadata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <ec-document-menu [documentNodes]="documentNode.children"></ec-document-menu>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-end">
            <button (click)="openAssignUsersModal()" class="btn btn-icon btn-outline-success" type="button">
              <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
              <span class="btn-inner--text">{{'document.members.add' | translate}}</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <h2>{{documentNode.title}}</h2>
          <p>{{documentNode.content}}</p>
          <ec-document-content [documentNodes]="documentNode.children"></ec-document-content>
        </div>
      </div>
    </div>
  </div>
</div>
<ec-document-users-modal #assignUsersModal
                         (assignUsers)="assignUsers.emit($event)"
                         (pageChange)="usersPageChange.emit($event)"
                         (searchTermChange)="usersSearchTermChange.emit($event)"
                         [assignedUsers]="document.assignedUsers"
                         [availableUsers]="availableUsers"
                         [pageData]="usersPageData">
</ec-document-users-modal>
