<section id="documents-page">
  <div class="row documents-header-wrapper">
    <app-table-sort (sortChange)="onSortChange($event)"
                    [sortFields]="tableSortConfig"
                    [tableContentType]="'documents.table.type'"
                    [totalCount]="126">
    </app-table-sort>
    <app-add-button (buttonClick)="onAddButtonClick()" [text]="'documents.add.title'"></app-add-button>
  </div>
  <app-documents-table [documents]="documents$ | async"
                       [pageData]="documentsPageData$ | async"
                       (rowClick)="onRowClick($event)">
  </app-documents-table>
</section>
