<div *ngIf="((isReady$ | async) || (completed$ | async)) || (hasFailed$ | async)" class="message">
  <button (click)="file.click()" class="btn btn-secondary" type="button">
    {{'fileUpload.label.Choose.file' | translate}}
  </button>

  <input #file (change)="uploadFile($event)" hidden multiple type="file"/>
</div>
<div *ngIf="(isInProgress$ | async)" class="message">
  <div style="margin-bottom: 14px;">{{'fileUpload.label.Uploading' | translate}} {{ progress$ | async }}%</div>
</div>
<div *ngIf="(isInProgress$ | async)" class="message">
  <button (click)="cancelUpload()" class="btn btn-secondary">
    {{'fileUpload.label.Cancel.upload' | translate}}
  </button>
</div>
<div *ngIf="(completed$ | async)" class="message">
  <h4>
    {{'fileUpload.label.Uploaded.successfully' | translate}}
  </h4>
</div>
<div *ngIf="(hasFailed$ | async)" class="message error">
  {{'fileUpload.label.Error' | translate}} {{ error$ | async }}
</div>
