.menu-container {
  padding-left: 15px;
  color: blue;
}

.chapter {
  padding-top: 10px;
}

.section {
  padding-top: 5px;
}

.chapter:hover, .section:hover, .article:hover {
  color: white;
  cursor: pointer;
}

