<ng-template [ngIf]="documentNodes.length > 0">
  <div *ngFor="let documentNode of documentNodes">
    <div (click)="scroll(documentNode.id)" *ngIf="documentNode.displayedInMenu()" class="document-menu-item opacity-5">
      {{'document.view.section.type.' + documentNode.documentNodeType.toLowerCase() | translate }}
      {{documentNode.identifier}}
    </div>
    <div class="ml-3">
      <app-document-menu [documentNodes]="documentNode.children"></app-document-menu>
    </div>
  </div>
</ng-template>
