<div class="card">
  <div class="card-header">
    <h5 class="h3 mb-0">{{"users.add.fromExcel" | translate}}</h5>
  </div>
  <div class="card-body">
    <ec-add-excel-users (contentUpdate)="onContentUpdate($event)"></ec-add-excel-users>
  </div>
  <div class="card-footer">
    <div class="row justify-content-end">
      <button (click)="onCancel()" class="btn btn-secondary mt-4" type="button">
        {{"button.cancel" | translate}}
      </button>
      <button (click)="onSave()" class="btn btn-success mt-4" type="button">
        {{ 'button.save' | translate }}
      </button>
    </div>
  </div>
</div>
